service cloud.firestore {

  match /databases/{database}/documents {

    match /games/{game_id} {

      function isOwnerAndIsOnlyTransferringOwnership(){
        return resource.data.ownerId == request.auth.uid &&
            request.resource.data.diff(resource.data).affectedKeys().hasOnly(["ownerId"]) &&
            resource.data.playerIds.hasAny([request.resource.data.ownerId])
      }

      allow list: if resource.data.playerIds.hasAny([request.auth.uid]);

      allow get: if true;

      allow update: if isOwnerAndIsOnlyTransferringOwnership();
    }

    match /games/{game_id}/rounds/{round_id} {
      function getGame(){
        return get(/databases/$(database)/documents/games/$(game_id)).data
      }

      function isLeaderAndIsOnlyUpdatingTeamIdsField(){
        return resource.data.leaderId == request.auth.uid &&
            resource.data.status == "team_selection" &&
            request.resource.data.diff(resource.data).affectedKeys().hasOnly(["teamPlayerIds"]) &&
            request.resource.data.teamPlayerIds is list &&
            request.resource.data.teamPlayerIds.size() < (resource.data.teamSize + 1) &&
            request.resource.data.teamPlayerIds.hasOnly(getGame().playerIds)
      }

      function isLeaderAndIsOnlyUpdatingStatusField(){
        return resource.data.leaderId == request.auth.uid &&
            resource.data.status == "team_selection" &&
            request.resource.data.diff(resource.data).affectedKeys().hasOnly(["status"]) &&
            request.resource.data.status == "voting" &&
            resource.data.teamPlayerIds.size() == resource.data.teamSize
      }

      allow list;
      allow get;
      allow update: if isLeaderAndIsOnlyUpdatingTeamIdsField() || isLeaderAndIsOnlyUpdatingStatusField();
    }

    match /games/{game_id}/roles/{player_id} {
      allow list: if false;
      allow get: if request.auth.uid == player_id;
      allow write: if false;
    }

    match /games/{game_id}/rounds/{round_id}/votes/{player_id} {
      function getRound(){
        return get(/databases/$(database)/documents/games/$(game_id)/rounds/$(round_id)).data
      }
      allow list: if getRound().status != "voting";
      allow get: if getRound().status != "voting" || request.auth.uid == player_id;

      allow write: if false;
    }
  }
}