service cloud.firestore {

  match /databases/{database}/documents {

    match /games/{game_id} {

      allow list: if resource.data.playerIds.hasAny([request.auth.uid]);

      allow get: if true;

      // Only a story's author can write to a story
      allow write: if false;
    }

  }
}