rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /avatars/{userId} {
      allow write: if request.auth != null
        && request.resource.size <= 5 * 1024 * 1024 // 5MB limit
      && request.resource.contentType.matches('image/.*') // only allow image uploads
      && userId == request.auth.uid
    allow read: if true;
  }
}
}